pandas 
numpy
scikit-learn
matplotlib
joblib

mlflow==3.1.4
dagshub==0.7.0 # mlflow

notebook  # Jupyter notebook

python-box==6.0.2
pyYAML # read YAML configuration files
tqdm
ensure==1.0.2
types-PyYAML


Flask # Web / API
Flask-Cors

-e .